{{#partial "navbar"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item active"><a class="nav-link" href="/heroes/new">Build new Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squads/new">Form new squad</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">View your progress</a></li>
{{/partial}}

{{#partial "content"}}
    <h2 class="text-center"> Build your hero</h2>
    <div id="newHeroForm">
        {{#if updateHero}}
            <form action="/heroes/{{updateHero.heroID}}/update" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" class="form-control" min="0">
                </div>
                <div class="form-group">
                    <label for="specialPower">Powers</label>
                    <input type="text" id="specialPower" name="specialPower" class="form-control">
                </div>
                <div class="form-group">
                    <label for="weakness">Weakness</label>
                    <input type="text" id="weakness" name="weakness" class="form-control">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" id="gender" name="gender" class="form-control">
                </div>
                <div class="button">
                <button class="btn btn-outline-secondary" type="submit">Save</button>
                </div>
            </form>
        {{else}}
            <form action="/heroes/new" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" class="form-control" min="0" required>
                </div>
                <div class="form-group">
                    <label for="specialPower">Strength</label>
                    <input type="text" id="specialPower" name="specialPower" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="weakness">Weakness</label>
                    <input type="text" id="weakness" name="weakness" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" id="gender" name="gender" class="form-control" required>
                </div>
                <div class="button">
                <button class="btn btn-outline-secondary" type="submit">Save</button>
                </div>
            </form>
        {{/if}}
    </div>
{{/partial}}

   {{> layout.hbs}}