{{#partial "navbar"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">See All Heroes</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Recruit a New Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squad/new">Create a New Squad</a></li>
{{/partial}}

{{#partial "content"}}
    <h4 class="text-center">Let's get it... <a href="/">Go back home</a></h4>
{{/partial}}

{{> layout.hbs}}