{{#partial "navbar"}}
    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">View your heroes</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Sign up a Hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squad/new">Form your Alliance</a></li>
{{/partial}}

{{> layout.hbs}}