{{#partial "navbar"}}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes/new">Build new hero</a></li>
    <li class="nav-item"><a class="nav-link" href="/squads/new">Form a squad</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">View your progress</a></li>
{{/partial}}

{{#partial "content"}}
    <h4 class="text-center">Let's get it... <a href="/">Return home</a></h4>
{{/partial}}

{{> layout.hbs}}